@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.link {
  text-decoration: none;
}

body {
  background: linear-gradient(90deg, rgb(151, 207, 181) 2%, rgb(122, 175, 149) 35%, rgb(146, 186, 193) 100%);
  overflow-x: hidden;
}