@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.link{
  text-decoration: none;
}
body{
  background:linear-gradient(90deg, rgb(14, 141, 80) 2%, rgb(23, 162, 95) 35%, rgb(9, 141, 168) 100%);
  overflow-x:hidden;
}